body.layout-account {
  &:before {
    // background-image: url(/static/media/img/icon/fajr-logo.jpg);
    background-image: url(/static/media/img/icon/fajr-logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
  }
}
