.movie-manage-wrapper {
  .widget-search-wrapper {
    .btn-group {
      .btn {
        opacity: 0.5;
        box-shadow: none;

        &.active {
          opacity: 1;
        }
      }
    }
  }
  .movie-list-wrapper {
    .movie-item {
      .item-actions-wrapper {
        position: absolute;
        right: 0.5rem;
        z-index: 1;
        left: 0.5rem;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;

        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .item-actions {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;

          .item-action {
            display: flex;
            width: 2rem;
            height: 2rem;
            align-items: center;
            justify-content: space-around;
            background-color: rgba($white, 0.75);
            margin: 0.5rem;
            padding: 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: $white;
            }
          }
        }
      }
    }

    .app-card-ribbon {
      position: absolute;
      top: 8%;
      width: 200%;
      body:not(.rtl) & {
        right: 30%;
        transform: translate(50%, 50%) rotate(45deg);
      }
      body.rtl & {
        left: 30%;
        transform: translate(-50%, 50%) rotate(-45deg);
      }

      .app-card-ribbon-label {
        background: rgba(app-color(danger), 0.8);
        color: #fff;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .overallRate {
      position: absolute;
      top: 1rem;
      right: 1rem;
      // background-color: #fff;
      color: $white;
      font-size: 2rem;
      border-radius: 2rem;
      width: 3rem;
      height: 3rem;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &.rate-0,
      &.rate-1,
      &.rate-2 {
        // background-color: rgba(map-get($rating-save-btn-el-bgColor, 1), 0.8);
        background-image: radial-gradient(
          rgba(map-get($rating-save-btn-el-bgColor, 1), 1),
          rgba(map-get($rating-save-btn-el-bgColor, 1), 0.8),
          rgba(map-get($rating-save-btn-el-bgColor, 1), 0.3),
          rgba(map-get($rating-save-btn-el-bgColor, 1), 0)
        );
      }
      &.rate-3,
      &.rate-4 {
        // background-color: rgba(map-get($rating-save-btn-el-bgColor, 2), 0.8);
        background-image: radial-gradient(
          rgba(map-get($rating-save-btn-el-bgColor, 2), 1),
          rgba(map-get($rating-save-btn-el-bgColor, 2), 0.8),
          rgba(map-get($rating-save-btn-el-bgColor, 2), 0.3),
          rgba(map-get($rating-save-btn-el-bgColor, 2), 0)
        );
      }
      &.rate-5,
      &.rate-6 {
        // background-color: rgba(map-get($rating-save-btn-el-bgColor, 3), 0.8);
        background-image: radial-gradient(
          rgba(map-get($rating-save-btn-el-bgColor, 3), 1),
          rgba(map-get($rating-save-btn-el-bgColor, 3), 0.8),
          rgba(map-get($rating-save-btn-el-bgColor, 3), 0.3),
          rgba(map-get($rating-save-btn-el-bgColor, 3), 0)
        );
      }
      &.rate-7,
      &.rate-8 {
        // background-color: rgba(map-get($rating-save-btn-el-bgColor, 4), 0.8);
        background-image: radial-gradient(
          rgba(map-get($rating-save-btn-el-bgColor, 4), 1),
          rgba(map-get($rating-save-btn-el-bgColor, 4), 0.8),
          rgba(map-get($rating-save-btn-el-bgColor, 4), 0.3),
          rgba(map-get($rating-save-btn-el-bgColor, 4), 0)
        );
      }
      &.rate-9,
      &.rate-10 {
        // background-color: rgba(map-get($rating-save-btn-el-bgColor, 5), 0.8);
        background-image: radial-gradient(
          rgba(map-get($rating-save-btn-el-bgColor, 5), 1),
          rgba(map-get($rating-save-btn-el-bgColor, 5), 0.8),
          rgba(map-get($rating-save-btn-el-bgColor, 5), 0.3),
          rgba(map-get($rating-save-btn-el-bgColor, 5), 0)
        );
      }
    }
  }
}
