.movie-manage-wrapper {
  .widget-search-wrapper {
    .btn-group {
      .btn {
        opacity: 0.5;
        box-shadow: none;

        &.active {
          opacity: 1;
        }
      }
    }
  }
  .movie-list-wrapper {
    .movie-item {
      .item-actions-wrapper {
        position: absolute;
        right: 0.5rem;
        z-index: 1;
        left: 0.5rem;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0.25rem;

        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .item-actions {
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;

          .item-action {
            display: flex;
            width: 2rem;
            height: 2rem;
            align-items: center;
            justify-content: space-around;
            background-color: rgba($white, 0.75);
            margin: 0.5rem;
            padding: 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: $white;
            }
          }
        }
      }
    }

    .progress-complete {
      // position: absolute;
      // top: 29%;
      // width: 100%;
      // left: -10px;
      // transform-origin: left;
      // transform: rotate(-45deg);

      // @include transform-origin(left);
      // @include transform(-45deg);

      position: absolute;
      top: 8%;
      width: 200%;
      // left: 30%;
      // transform: translate(-50%, 50%) rotate(-45deg);
      body:not(.rtl) & {
        right: 30%;
        transform: translate(50%, 50%) rotate(45deg);
      }
      body.rtl & {
        left: 30%;
        transform: translate(-50%, 50%) rotate(-45deg);
      }

      .progress-complete-label {
        // background: rgba(49, 224, 79, 0.6);
        background: rgba(app-color(danger), 0.8);
        color: #fff;
        // font-size: 0.7rem;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}
