.rating-save-wrapper {
  .form-box {
    border: 2px solid #ddd;
    position: relative;

    .form-box-header {
      position: absolute;
      top: -1rem;
      // right: 1rem;
      body:not(.rtl) & {
        left: 1rem;
      }
      body.rtl & {
        right: 1rem;
      }
      background-color: #fbfbfb;
    }
    .form-box-body {
      .btn-group {
        display: flex;
        .btn {
          opacity: 0.5;
          box-shadow: none;
          body:not(.rtl) & {
            margin-right: 0.125rem;
          }
          body.rtl & {
            margin-left: 0.125rem;
          }

          &.btn-mode-1,
          &.btn-mode-2,
          &.btn-mode-3 {
            @for $i from 1 to 6 {
              &.btn-el-#{$i} {
                background-color: rgba(map-get($rating-save-btn-el-bgColor, $i), 1); // 0.5
                border-color: rgba(map-get($rating-save-btn-el-bgColor, $i), 1); // 0.5

                // &.active {
                //   background-color: rgba(map-get($rating-save-btn-el-bgColor, $i), 1);
                //   border-color: rgba(map-get($rating-save-btn-el-bgColor, $i), 1);
                // }
              }
            }
          }
          &.btn-mode-3----- {
            &.btn-el-1 {
              background-color: map-get($rating-save-btn-el-bgColor, 1);
              border-color: map-get($rating-save-btn-el-bgColor, 1);
            }
            &.btn-el-2 {
              background-color: map-get($rating-save-btn-el-bgColor, 3);
              border-color: map-get($rating-save-btn-el-bgColor, 3);
            }
            &.btn-el-3 {
              background-color: map-get($rating-save-btn-el-bgColor, 5);
              border-color: map-get($rating-save-btn-el-bgColor, 5);
            }
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  .rc-slider {
    &.reverse {
      .rc-slider-mark {
        left: 1%;
      }
    }
  }
}

.rc-slider-tooltip.rating {
  // &.rating-0 {
  &.rating--1 {
    display: none;
  }

  &.rating-0,
  &.rating-1,
  &.rating-2 {
    .rc-slider-tooltip-arrow {
      border-top-color: map-get($rating-save-btn-el-bgColor, 1);
    }
    .rc-slider-tooltip-inner {
      background-color: map-get($rating-save-btn-el-bgColor, 1);
    }
  }
  &.rating-3,
  &.rating-4 {
    .rc-slider-tooltip-arrow {
      border-top-color: map-get($rating-save-btn-el-bgColor, 2);
    }
    .rc-slider-tooltip-inner {
      background-color: map-get($rating-save-btn-el-bgColor, 2);
    }
  }
  &.rating-5,
  &.rating-6 {
    .rc-slider-tooltip-arrow {
      border-top-color: map-get($rating-save-btn-el-bgColor, 3);
    }
    .rc-slider-tooltip-inner {
      background-color: map-get($rating-save-btn-el-bgColor, 3);
    }
  }
  &.rating-7,
  &.rating-8 {
    .rc-slider-tooltip-arrow {
      border-top-color: map-get($rating-save-btn-el-bgColor, 4);
    }
    .rc-slider-tooltip-inner {
      background-color: map-get($rating-save-btn-el-bgColor, 4);
    }
  }
  &.rating-9,
  &.rating-10 {
    .rc-slider-tooltip-arrow {
      border-top-color: map-get($rating-save-btn-el-bgColor, 5);
    }
    .rc-slider-tooltip-inner {
      background-color: map-get($rating-save-btn-el-bgColor, 5);
    }
  }
}

@include media-breakpoint-down(md) {
  .rating-save-wrapper {
    .rc-slider {
      &.reverse {
        .rc-slider-mark {
          left: 1%;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .rating-save-wrapper {
    .rc-slider {
      &.reverse {
        .rc-slider-mark {
          left: 2%;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .rating-save-wrapper {
    .rc-slider {
      &.reverse {
        .rc-slider-mark {
          left: 3%;
        }
      }
    }
  }
}
