@import "~rc-slider/assets/index.css";

.rc-slider-track {
  background-color: app-color("primary");
}
.rc-slider-handle {
  border-color: #ddd;
  &:hover {
    border-color: app-color("primary");
  }
  &:active,
  &:focus {
    border-color: darken(app-color("primary"), 15);
    box-shadow: 0 0 5px darken(app-color("primary"), 15);
    cursor: grabbing;
  }
}

@each $color, $color-varient in $app-colors {
  .rc-slider.rc-slider-#{$color} {
    .rc-slider-track {
      background-color: app-color($color);
    }
    .rc-slider-handle {
      &:hover {
        border-color: app-color($color);
      }
      &:active,
      &:focus {
        border-color: darken(app-color($color), 15);
        box-shadow: 0 0 5px darken(app-color($color), 15);
      }
    }
  }
}

.rc-slider {
  &.rc-slider-2x {
    height: 28px;
    .rc-slider-rail {
      height: 0.5rem;
    }
    .rc-slider-track {
      height: 0.5rem;
    }
    .rc-slider-step {
      height: 0.5rem;
      .rc-slider-dot {
        bottom: -4px;
        margin-left: -0.5rem;
        width: 1rem;
        height: 1rem;
      }
    }
    .rc-slider-handle {
      width: 24px;
      height: 24px;
      margin-top: -9px;
    }
    .rc-slider-mark {
      top: 24px;
      font-size: 1rem;
    }
  }
}
